{% block body %}
    <link rel="stylesheet" href="{{ asset('css/style123.css') }}">
    <section class="form-section" style="background: url('{{ asset('img/image4.png') }}') no-repeat center center fixed">
        <div class="container d-flex justify-content-center align-items-center min-vh-100">
            <div class="row justify-content-center w-100">
                <div class="col-12 col-lg-10 col-xl-8">
                    <div class="card card-hover border-0 shadow-lg overflow-hidden custom-gradient-bg form-center d-flex flex-column align-items-center">
                        <div class="card-body card-content form-container text-center">
                            <h2 class="card-title text-primary mb-5 display-6 fw-bold text-primary">
                                <i class="bi bi-pencil-square me-2"></i>Ajouter Un Produit
                            </h2>
                            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'enctype': 'multipart/form-data'}}) }}

                            <div class="form-group mb-5 d-flex flex-column align-items-center">
                                {{ form_label(form.nom, 'Nom du produit :') }}
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control form-control-custom form-control-lg border-3 py-3', 'style': 'width: 500px;', 'placeholder': 'Entrez le nom du produit'}}) }}
                                <div style="color: red;">{{ form_errors(form.nom) }}</div>
                            </div>

                            <div class="form-group mb-5 d-flex flex-column align-items-center">
                                {{ form_label(form.description, 'Description :') }}
                                {{ form_widget(form.description, {'attr': {'class': 'form-control form-control-custom form-control-lg border-3 py-3', 'style': 'width: 505px; margin-left: 25px;', 'placeholder': 'Entrez une courte description...'}}) }}
                                <div style="color: red;">{{ form_errors(form.description) }}</div>
                            </div>

                            <div class="form-group mb-5 d-flex flex-column align-items-center">
                                {{ form_label(form.imageFile, 'Choisir une image :') }}
                                {{ form_widget(form.imageFile, {'attr': {'class': 'form-control form-control-custom form-control-lg border-3 py-3', 'style': 'width: 485px;'}}) }}
                                <div style="color: red;">{{ form_errors(form.imageFile) }}</div>
                            </div>

                            <div class="form-group mb-5 d-flex flex-column align-items-center">
                                {{ form_label(form.etat, 'État du produit :') }}
                                {{ form_widget(form.etat, {'attr': {'class': 'form-control form-control-custom form-control-lg border-3 py-3', 'style': 'width: 510px;'}}) }}
                                <div style="color: red;">{{ form_errors(form.etat) }}</div>
                            </div>

                            <div class="form-group mb-5 d-flex flex-column align-items-center">
                                {{ form_label(form.quantite, 'Quantité :') }}
                                {{ form_widget(form.quantite, {'attr': {'class': 'form-control form-control-custom form-control-lg border-3 py-3', 'style': 'width: 510px;margin-left: 40px;', 'placeholder': 'Entrez la quantité'}}) }}
                                <div style="color: red;">{{ form_errors(form.quantite) }}</div>
                            </div>

                            <div class="form-group mb-5 d-flex flex-column align-items-center">
                                {{ form_label(form.prix, 'Prix :') }}
                                {{ form_widget(form.prix, {'attr': {'class': 'form-control form-control-custom form-control-lg border-3 py-3', 'style': 'width: 510px; margin-left: 70px;', 'placeholder': 'Entrez le prix'}}) }}
                                <div style="color: red;">{{ form_errors(form.prix) }}</div>
                            </div>

                            <div class="form-group mb-5 d-flex flex-column align-items-center">
                                {{ form_label(form.categorie, 'Catégorie :') }}
                                {{ form_widget(form.categorie, {'attr': {'class': 'form-control form-control-custom form-control-lg border-3 py-3', 'style': 'width: 513px;margin-left: 34px;'}}) }}
                                <div style="color: red;">{{ form_errors(form.categorie) }}</div>
                            </div>

                            <div class="text-center mt-5">
                                <button type="submit" class="btn btn-primary btn-lg px-5 py-3 rounded-pill fw-bold text-uppercase shadow-sm hover-effect">
                                    <i class="bi bi-check2-circle me-2"></i>Ajouter
                                </button>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}